.cart{
    display: block;
}
.instructor-details{
    display: flex;
    font-size: large;
    border-radius: 10px;
    background-color: rgb(245, 203, 151);
}

.break-container{
    display: block;
    border-radius: 10px;
}
.break-btn{
    background-color: rgb(245, 203, 151);
    height: 90px;
    border-radius: 10px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.btn {
    border-radius: 100px;
    border: none;
    margin-left: 5px;
    height: 50px;
    width: 50px;
}
.btn:hover{
    background-color: chocolate;
}

.exercise-time{
    background-color:  rgb(245, 203, 151);
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 15px;
   
}

.exercise-time h3{
    margin-left: -20px;
}



.break-time{
    background-color:  rgb(245, 203, 151);
    padding: 2px;
    border-radius: 15px;
}

.break-time h3{
    margin-left: -35px;
}



.complete-btn{
    margin-top: 50px;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: none;
    background-color: rgb(154, 94, 10);
}

.complete-btn p{
    color: white;
    font-size: larger;
    font-weight: 700;
}

.complete-btn:hover{
    background-color: rgb(154, 120, 79);
}

.toast-message{
    width: 500px;
    height: 80px;
    font-weight: 700;
    color: black;
}
